@charset "utf-8";

footer {
  line-height: 1.5;
}

/* pc부분 미디어쿼리 (only pc) */
@media (min-width: 1300px) {
  footer {
    font-size: 14px;
    color: #646464;
  }

  .contents_inner_bottom_mo {
    display: none;
  }

  .mini_info_mo {
    display: none;
  }

  .footer__inner {
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    /* outline: 1px dotted red; */
  }

  .footer__inner .footer__texts {
    margin-top: 10px;
    /* outline: 1px dotted red; */
  }
  .footer__inner .footer__texts p:nth-of-type(1) span {
    font-size: 14px;
    font-weight: 600;
    color: #464646;
    cursor: pointer;
  }
  .footer__inner .footer__texts p:nth-of-type(2) {
    display: none;
    padding: 2px 20px;
    /* outline: 1px dotted red; */
    /* max-width: 700px; */
  }

  .border_line {
    max-width: 1300px;
    border-bottom: 0.002rem solid #ccc;
    margin: 0 auto;
  }


  .global_footer_contents {
    width: 1300px;
    height: 370px;
    /* outline: 1px dotted red; */
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 30px;

  }

  .global_footer_contents .footer_logo {
    display: flex;
    gap: 10px;
    /* outline: 1px dotted red; */
  }

  .global_footer_contents .footer_logo a img {
    height: 20px;
    width: auto;
    /* outline: 1px dotted red; */
  }
  
  .global_footer_contents .footer_logo span {
    font-size: 20px;
  }


  .footer__categories_pc {
    display: flex;
    justify-content: space-around;
    /* gap: 120px; */
  }

  .contents_inner_bottom_pc .footer__categories_pc ul p {
    color: #464646;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 4px;
  }

  .contents_inner_bottom_pc .footer__categories_pc ul li {
    margin-bottom: 4px;
  }
  .contents_inner_bottom_pc .footer__categories_pc ul li:hover {
    text-decoration: underline 1px solid #464646;
    font-weight: 500;

  }

  
  .footer__popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 20px 50px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .show_btn {
    border: 1px solid #ccc;
    padding: 2px 10px;
    cursor: pointer;
  }
  .show_btn:hover {
    border: 1px solid #ccc;
    background: #fff;
    padding: 2px 10px;
    cursor: pointer;
  }

  .close_btn {
    border: 1px solid #ccc;
    padding: 2px 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }


  .mini_info {
    width: 1300px;
    margin: 0 auto;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .mini_info span {
    color: #007aff;
    text-decoration: underline;
  }

  .global_footer_mini {
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
    /* outline: 1px dotted red; */
    display: flex;
    position: relative;
    box-sizing: border-box;
  }

  .global_footer_mini .mini_copyright {
    font-size: 12px;
    width: max-content;
  }
  .global_footer_mini .mini_links {
    font-size: 12px;
    display: flex;
  }

  .global_footer_mini .mini_links ul {
    display: flex;
    justify-content: space-around;
  }

  .global_footer_mini .mini_links ul li {
    color: #464646;
    font-weight: 500;
    margin-left: 20px;
  }
  .global_footer_mini .mini_links ul li:hover {
    text-decoration: underline 1px solid #464646;    
  }

  .global_footer_mini .mini_links p {
    position: absolute; right: 0;
    color: #464646;
    font-weight: 500;
  }
  .global_footer_mini .mini_links p:hover {
    text-decoration: underline 1px solid #464646;
  }
}

/* 패드부분 미디어쿼리 */
@media (min-width: 600px) and (max-width: 1299px) {
  footer {
    font-size: 14px;
    color: #646464;
    padding-bottom: 50px;
  }
  /* pc영역 이라 안보이게 할 부분 */
  .contents_inner_bottom_pc {
    display: none;
  }
  .mini_info_pc {
    display: none;
  }

  /* 푸터영역 */
  .footer__inner {
    margin: 0 auto;
    padding: 40px;
    /* outline: 1px dotted red; */
  }
  .footer__inner .footer__texts {
    margin-top: 10px;
  }
  .footer__inner .footer__texts p:nth-of-type(1) span {
    font-size: 14px;
    font-weight: 600;
    color: #464646;
    cursor: pointer;
  }
  .footer__inner .footer__texts p:nth-of-type(2) {
    display: none;
    padding: 2px 20px;
    max-width: 700px;
  }
  .border_line {
    max-width: 90vw;
    border-bottom: 0.002rem solid #ccc;
    margin: 0 auto;
  }
  .global_footer_contents {
    margin: 0 auto;
    padding: 10px 20px;
    margin-bottom: 40px;
  }
  .global_footer_contents .footer_logo {
    display: flex;
    gap: 10px;
    padding: 0 20px;
    margin-top: 10px;
  }
  .global_footer_contents .footer_logo a img {
    height: 20px;
    width: auto;
  }
  .global_footer_contents .footer_logo span {
    font-size: 20px;
  }

  /* 약관보기 팝업영역 */
  .footer__popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 20px 50px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    min-width: 550px;
    max-height: 80%; /* 최대 높이를 지정합니다. */
    overflow-y: auto; /* 세로 스크롤이 필요한 경우 스크롤을 추가합니다. */
  }

  .show_btn {
    border: 1px solid #ccc;
    padding: 2px 10px;
    cursor: pointer;
  }
  .show_btn:hover {
    border: 1px solid #ccc;
    background: #fff;
    padding: 2px 10px;
    cursor: pointer;
  }
  .close_btn {
    border: 1px solid #ccc;
    padding: 2px 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }


  /* 사이트맵 영역 */

  .contents_inner_bottom_mo {
    padding: 0 20px;
  }

  .contents_inner_bottom_mo .footer__categories_mo {
    margin-top: 20px;
  }
  .footer__category_inner1,
  .footer__category_inner2,
  .footer__category_inner3,
  .footer__category_inner4,
  .footer__category_inner5,
  .footer__category_inner6,
  .footer__category_inner7,
  .footer__category_inner8,
  .footer__category_inner9 {
    color: #464646;
    font-weight: 700;
    border-top: 1px solid #ccc;
    padding: 10px 0;
  }

  .contents_inner_bottom_mo .footer__categories_mo span {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }

  .footer__categories_mo ul li {
    margin-bottom: 5px;
  }
  .footer__categories_mo ul li:hover {
    text-decoration: underline 1px solid #464646;
    font-weight: 500;
  }

  
  /* 사이트맵 아래 작은 텍스트 영역 */
  .mini_info_mo {
    font-size: 12px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .mini_info_mo .mini_info {
    margin-bottom: 10px;
  }
  .mini_info_mo .mini_info span {
    color: #007aff;
    text-decoration: underline;
  }
  .mini_info_mo .global_footer_mini p {
    margin-bottom: 10px;
    color: #464646;
    font-weight: 500;
  }
  .mini_info_mo .global_footer_mini .mini_copyright {
    margin-bottom: 10px;
  }

  .mini_info_mo .global_footer_mini .mini_links ul {
    display: flex;
  }

  .mini_info_mo .global_footer_mini .mini_links ul li {
    margin-right: 20px;
    color: #464646;
    font-weight: 500;
  }
}

/* 모바일 부분 */
@media (max-width: 599px) {
  footer {
    font-size: 14px;
    color: #646464;
    padding-bottom: 30px;
  }

  .contents_inner_bottom_pc {
    display: none;
  }
  .mini_info_pc {
    display: none;
  }

    /* 푸터영역 */
    .footer__inner {
      margin: 0 auto;
      padding: 40px;
      /* outline: 1px dotted red; */
    }
    .footer__inner .footer__texts {
      margin-top: 10px;
    }
    .footer__inner .footer__texts p:nth-of-type(1) span {
      font-size: 14px;
      font-weight: 600;
      color: #464646;
      cursor: pointer;
    }
    .footer__inner .footer__texts p:nth-of-type(2) {
      display: none;
      padding: 2px 20px;
      max-width: 700px;
    }
    .border_line {
      max-width: 90vw;
      border-bottom: 0.002rem solid #ccc;
      margin: 0 auto;
    }
    .global_footer_contents {
      margin: 0 auto;
      padding: 10px 20px;
      margin-bottom: 40px;
    }
    .global_footer_contents .footer_logo {
      display: flex;
      gap: 10px;
      padding: 0 20px;
      margin-top: 10px;
    }
    .global_footer_contents .footer_logo a img {
      height: 20px;
      width: auto;
    }
    .global_footer_contents .footer_logo span {
      font-size: 20px;
    }
  
    /* 약관보기 팝업영역 */
    .footer__popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      padding: 20px 20px 50px 20px;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 9999;
      min-width: 320px;
      max-height: 80%;
      overflow-y: auto;
    }
    
    .show_btn {
      border: 1px solid #ccc;
      padding: 2px 10px;
      cursor: pointer;
    }
    .show_btn:hover {
      border: 1px solid #ccc;
      background: #fff;
      padding: 2px 10px;
      cursor: pointer;
    }
    .close_btn {
      border: 1px solid #ccc;
      padding: 2px 10px;
      cursor: pointer;
      position: absolute;
      right: 20px;
      margin-top: 12px;
    }
  
  
    /* 사이트맵 영역 */
  
    .contents_inner_bottom_mo {
      padding: 0 20px;
    }
  
    .contents_inner_bottom_mo .footer__categories_mo {
      margin-top: 20px;
    }
    .footer__category_inner1,
    .footer__category_inner2,
    .footer__category_inner3,
    .footer__category_inner4,
    .footer__category_inner5,
    .footer__category_inner6,
    .footer__category_inner7,
    .footer__category_inner8,
    .footer__category_inner9 {
      color: #464646;
      font-weight: 700;
      border-top: 1px solid #ccc;
      padding: 10px 0;
    }
  
    .contents_inner_bottom_mo .footer__categories_mo span {
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
    }

    .footer__categories_mo ul li {
      margin-bottom: 5px;
    }
    .footer__categories_mo ul li:hover {
      text-decoration: underline 1px solid #464646;
      font-weight: 500;
    }

  
    /* 사이트맵 아래 작은 텍스트 영역 */
    .mini_info_mo {
      font-size: 12px;
      margin: 0 auto;
      padding: 0 40px;
    }
  
    .mini_info_mo .mini_info {
      margin-bottom: 10px;
    }
    .mini_info_mo .mini_info span {
      color: #007aff;
      text-decoration: underline;
    }
    .mini_info_mo .global_footer_mini p {
      margin-bottom: 10px;
      color: #464646;
      font-weight: 500;
    }
    .mini_info_mo .global_footer_mini .mini_copyright {
      margin-bottom: 10px;
    }
    .mini_info_mo .global_footer_mini .mini_links ul li {
      margin-right: 20px;
      color: #464646;
      font-weight: 500;
    }

    
}