@charset "utf-8";

/* main */
/* main-hero */
#main {background-color: #000; box-sizing: border-box;}

#main .main-flex {
  width: 100%; height: 100vh; 
  display: flex; flex-direction: column; box-sizing: border-box;
}

#main-hero {
  position: relative;
  width: 100%;
  height: 74vh;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(90deg, #000 0%, #111 15%, #222 15%, #111 30%, #222 30%, #151515 70%, #111 70%, #111 90%, #000 90%);
}

#main-hero .hero-txt {
  position: absolute;
  left: 0;
  right: 0;
  top: 14%;
  color: #fff;
  line-height: 1.5;
  letter-spacing: -2px;
}

#main-hero .hero-txt h2 {
  font-size: 4rem;
  font-weight: 700;
}

#main-hero .hero-txt h3 {
  font-size: 1.75rem;
}

#main-hero .hero-link {
  font-size: 1.25rem;
  margin-top: 10px;
}

#main-hero .hero-link a {
  display: inline-block;
  color: var(--accent-color);
}

#main-hero .hero-link a:first-child {
  margin-right: 20px;
}

#main-hero .hero-link a:after {
  content: "\f054";
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  margin-left: 6px;
  font-size: 0.75rem;
}

#main-hero .hero-link a:hover {
  text-decoration: underline;
}

#main-hero .hero-img {
  width: 100%; height: 100%;
  background-image: url(../images/hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translate(12%, 18%);
  
}

#main-hero .hero-img:hover {
  cursor: pointer;
}

@media (min-width: 600px) and (max-width: 1299px) {
  #main-hero .hero-txt {
    line-height: 1.3;
  }
}

@media (max-width: 599px) { /* 수정 수정!!!! */
  #main-hero .hero-img {
    transform: scale(85%) rotate(90deg) translateX(46%); 
  }
  #main-hero .hero-txt {
    line-height: 1.3;
  }
}

/* main-icon */
#main-icon {
  width: 100%;
  height: 26vh;
  background: #000;
  box-sizing: border-box;
}

#main-icon .swiper-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#main-icon .swiper-container .icon-container {
  display: flex;
  height: 100%;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


#main-icon .swiper-container .icon-container .icon-item {
  max-width: 140px; height: 140px;
  box-sizing: border-box;
  flex: 1; 
  display: flex; flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: box-shadow 0 ease-in-out;
  padding: 10px 20px;
}

#main-icon .swiper-container .icon-container .icon-item:hover {
  background: linear-gradient(145deg, #111, #050505);
  box-shadow: 6px 6px 20px #000, -6px -6px 20px #111;
  cursor: pointer;
}


#main-icon .icon-container .icon-item .icon-img {
  width: 100px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#main-icon .icon-container .icon-item .icon-img:hover {
  cursor: pointer;
}

#main-icon .icon-container .icon-item:nth-of-type(1) .icon-img:first-child {
  background-image: url(../images/icon-img1.png);
  
}

#main-icon .icon-container .icon-item:nth-of-type(2) .icon-img:first-child {
  background-image: url(../images/icon-img2.png);
}

#main-icon .icon-container .icon-item:nth-of-type(3) .icon-img:first-child {
  background-image: url(../images/icon-img3.png);
}

#main-icon .icon-container .icon-item:nth-of-type(4) .icon-img:first-child {
  background-image: url(../images/icon-img4.png);
}

#main-icon .icon-container .icon-item:nth-of-type(5) .icon-img:first-child {
  background-image: url(../images/icon-img5.png);
}

#main-icon .icon-container .icon-item:nth-of-type(6) .icon-img:first-child {
  background-image: url(../images/icon-img6.png);
}

#main-icon .icon-container .icon-item:nth-of-type(7) .icon-img:first-child {
  background-image: url(../images/icon-img7.png);
}

#main-icon .icon-container .icon-item:nth-of-type(8) .icon-img:first-child {
  background-image: url(../images/icon-img8.png);
}

#main-icon .icon-container .icon-item .icon-txt {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

#main-icon .icon-container .icon-item .icon-txt:hover a {
  text-decoration: underline;
}

/* special */

#special .sp-cardWrap {
  width: 100%; height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
}

/* sp-card title */
#special .sp-cardWrap .sp-title {
  width: 100%; height: 120px;
  padding-top: 30px;
  padding-bottom: 20px;
  box-sizing: border-box; 
  line-height: 1.3;
}

#special .sp-cardWrap .sp-title>span {
  color: var(--accent-color);
  font-size: 0.875rem; /* 14px */
  margin-bottom: 5px;
  display: inline-block;
}

#special .sp-cardWrap .sp-title h2 {
  font-size: 1.875rem; /* 30px */
  font-weight: 700;
  color: #808080;
}

#special .sp-cardWrap .sp-title h2 span {
  color: #333;
}

#special .sp-cardWrap .sp-card {
  width: 100%;
  height: calc(100% - 120px); 
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

}

#special .sp-cardWrap .sp-card>div:not(:last-of-type) {
  width: calc((100% - 40px)/3);
  height: calc(60% - 20px);
}

#special .sp-cardWrap .sp-card .sp-card-left,
#special .sp-cardWrap .sp-card .sp-card-mdl .sp-card-mdl-top,
#special .sp-cardWrap .sp-card .sp-card-mdl .sp-card-mdl-bottom,
#special .sp-cardWrap .sp-card .sp-card-right,
#special .sp-cardWrap .sp-card .sp-card-bottom .sp-card-bottom-left,
#special .sp-cardWrap .sp-card .sp-card-bottom .sp-card-bottom-right {
  border-radius: 20px; overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}


#special .sp-cardWrap .sp-card .sp-card-left {
  order: 1;
  box-sizing: border-box;
  position: relative;
  transition: .3s ease-in-out;
}

#special .sp-cardWrap .sp-card .sp-card-left:hover {
  cursor: pointer;
  transform: scale(1.01);
}

#special .sp-cardWrap .sp-card .sp-card-left .sp-card-img {
  width: 100%; height: 100%;
  background: url(../images/special-img1.jpg) no-repeat center / cover;
}

#special .sp-cardWrap .sp-card>div:not(:last-of-type) .sp-card-txt {
  position: absolute; 
  top: 24px; left: 24px; right: 24px;
}

#special .sp-cardWrap .sp-card .sp-card-left .sp-card-txt h2 {
  font-size: 1rem;
  color: #808080;
  font-weight: 700;
  margin-bottom: 10px;
}

#special .sp-cardWrap .sp-card>div .sp-card-txt p {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;
  color: #000;
}

#special .sp-cardWrap .sp-card .sp-card-mdl {
  order: 2; 
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  padding: 0 20px;
}

#special .sp-cardWrap .sp-card .sp-card-mdl>div {
  position: relative; width: 100%;
  transition: .3s ease-in-out;
  box-sizing: border-box;
}

#special .sp-cardWrap .sp-card .sp-card-mdl>div:hover {
  cursor: pointer;
  transform: scale(1.01);
}

#special .sp-cardWrap .sp-card .sp-card-mdl .sp-card-mdl-top {
  margin-bottom: 20px;
}

#special .sp-cardWrap .sp-card .sp-card-mdl .sp-card-mdl-top .sp-card-img {
  width: 100%; height: 100%;
  background: url(../images/special-img2.jpg) no-repeat bottom / cover;
}

#special .sp-cardWrap .sp-card .sp-card-mdl .sp-card-mdl-bottom .sp-card-img {
  width: 100%;
  height: 100%;
  background: url(../images/special-img3.jpg) no-repeat center / cover;
  transform: scale(1.5);
}

#special .sp-cardWrap .sp-card .sp-card-right {
  order: 3; 
  box-sizing: border-box; 
  position: relative; transition: .3s ease-in-out;
  background-color: #fff;
}

#special .sp-cardWrap .sp-card .sp-card-right:hover {
  cursor: pointer;
  transform: scale(1.01);
}

#special .sp-cardWrap .sp-card .sp-card-right .sp-card-img {
  width: 100%; height: 100%;
  background: url(../images/special-img4.jpg) no-repeat bottom / contain;
  transform: translateY(30%) 
}

/* sp-card-bottom */
#special .sp-cardWrap .sp-card .sp-card-bottom {
  order: 4;/*  display: flex; flex-direction: row; */
  height: 40%;
  margin-top: 20px; 
  width: 60%;
}

/* sp-card-bottom-left */
#special .sp-cardWrap .sp-card .sp-card-bottom .sp-card-bottom-left {
  order: 5; text-align: center;  box-sizing: border-box;
  /* width: calc((100% - 20px)  * 6);  */flex: 6; height: 100%; 
  transition: .3s ease-in-out; position: relative;
  
}
#special .sp-cardWrap .sp-card .sp-card-bottom .sp-card-bottom-left:hover {
  transform: scale(1.01);
}
#special .sp-cardWrap .sp-card .sp-card-bottom .sp-card-bottom-left .sp-card-img {
  width: 100%; height: 100%;
  background: url(../images/special-img5-b.png) no-repeat center / cover;
}
#special .sp-cardWrap .sp-card .sp-card-bottom .sp-card-bottom-left .sp-card-txt {
  width: 100%; height: 100%; position: absolute; top: 24px; 
}
#special .sp-cardWrap .sp-card .sp-card-bottom .sp-card-bottom-left .sp-card-txt p {
  font-size: 1.25rem;  box-sizing: border-box; padding: 0 24px;
  display: inline-block;

}

#special .sp-cardWrap .sp-card .sp-card-bottom .sp-card-bottom-left .sp-card-txt a {
  text-align: center; display: inline-block;
  width: 8rem; height: 3rem;
  background-color: #000; line-height: 3rem;
  box-sizing: border-box; margin-top: 30px;
  border-radius: 20px; border: none;
  color: #fff; font-weight: 700;
  font-size: 1rem; letter-spacing: -1px;
}

#special>.inner {
  position: relative;
}
#special>.inner>.sp-bg-img {
  position: absolute; right: 0; bottom: 0; 
  width: 50%; height: 40%; z-index: 10;
}
#special>.inner>.sp-bg-img span {
  display: block;
  width: 100%; height: 100%; 
  background: url(../images/special-img5-1.png) no-repeat right bottom / contain;
}

#special .sp-mb-cardWrap {
  display: none;
} 



@media (min-width: 600px) and (max-width: 1299px) {
  #special .sp-cardWrap {
    padding: 20px;
  }
  #special .sp-cardWrap .sp-card .sp-card-right .sp-card-img {
    transform: translateY(15%);
  }
  #special .sp-cardWrap .sp-card .sp-card-bottom .sp-card-bottom-left .sp-card-img {
  
    background-position-y: bottom;
  }
}

/* sp-card mobile */
@media (max-width: 599px) {
  #special .sp-cardWrap {
    display: none; 
  }

  #special .sp-mb-cardWrap {
    display: block;
    width: 100%; height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
  }

/* sp-card mobile title */
  #special .sp-mb-cardWrap .sp-mb-title {
    width: 100%; height: auto;
    padding: 20px 0 10px; box-sizing: border-box;
    line-height: 1.3;
  }

  #special .sp-mb-cardWrap .sp-mb-title>span {
    color: var(--accent-color);
    font-size: 0.875rem; /* 14px */
    margin-bottom: 5px;
  }

  #special .sp-mb-cardWrap .sp-mb-title h2 {
    font-size: 1.825rem; 
    font-weight: 700;
    color: #808080;
  }

  #special .sp-mb-cardWrap .sp-mb-title h2 span {
    color: #333;
  }

  #special .sp-mb-cardWrap .sp-mb-card {
    width: 100%;
    height: 85%; 
    margin: 20px 0;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
  }

  #special .sp-mb-cardWrap .sp-mb-card>div {
    width: 100%; height: 100%;
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-left,
  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-mdl .sp-mb-card-mdl-top,
  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-mdl .sp-mb-card-mdl-bottom,
  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right .sp-mb-card-right-top,
  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right .sp-mb-card-right-bottom {
    border-radius: 20px; overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-left {
    box-sizing: border-box;
    position: relative;
    transition: .3s ease-in-out;
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-left:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-left .sp-card-img {
    width: 100%; height: 100%;
    background: url(../images/special-img1.jpg) no-repeat center / cover;
  }

  #special .sp-mb-cardWrap .sp-mb-card>div .sp-card-txt {
    position: absolute; 
    top: 24px; left: 24px; right: 24px;
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-left .sp-card-txt h2 {
    font-size: 1rem;
    color: #808080;
    font-weight: 700;
    margin-bottom: 10px;
  }

  #special .sp-mb-cardWrap .sp-mb-card>div .sp-card-txt p {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 700;
    color: #000;
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-mdl,
  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right { 
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-mdl>div,
  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right>div {
    position: relative; width: 100%; 
    transition: .3s ease-in-out;
    box-sizing: border-box;
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-mdl>div:hover,
  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right>div:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-mdl .sp-mb-card-mdl-top,
  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right .sp-mb-card-right-top {
    margin-bottom: 20px;
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-mdl .sp-mb-card-mdl-top .sp-card-img {
    width: 100%; height: 100%;
    background: url(../images/special-img2.jpg) no-repeat bottom / cover;
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-mdl .sp-mb-card-mdl-bottom .sp-card-img {
    width: 100%; height: 100%;
    background: url(../images/special-img3.jpg) no-repeat center / cover;
  }



  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right .sp-mb-card-right-top .sp-card-img {
    width: 100%; height: 100%;
    background: url(../images/special-img4.jpg) no-repeat bottom center / contain;
    transform: translateY(30%);
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right .sp-mb-card-right-bottom {
    position: relative; width: 100%;
    transition: .3s ease-in-out;
    text-align: center;
    background-color: #fff;
    background-image: url(../images/special-img5-b.jpg);
    background-position: bottom;
    background-size: 120%;
    background-repeat: no-repeat;
  }

  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right .sp-mb-card-right-bottom:hover {
    transform: scale(1.01);
  }


  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right .sp-mb-card-right-bottom .sp-card-img {
    width: 100%; height: 100%;
  }
  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right .sp-mb-card-right-bottom .sp-card-img span {
    width: 100%; height: 100%; display: block;
    position: absolute; bottom: 0; right: 0; left: 0;
    background: url(../images/special-img5-1.png) no-repeat bottom / cover;
    transform: scale(0.7) translateY(30%) ;
    
  }
  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right .sp-mb-card-right-bottom .sp-card-txt p {
    font-size: 1.5rem;  box-sizing: border-box; padding: 0 24px;
    display: block;
  }
  #special .sp-mb-cardWrap .sp-mb-card .sp-mb-card-right .sp-mb-card-right-bottom .sp-card-txt a {
    text-align: center; display: inline-block;
    width: 10rem; height: 4rem;
    background-color: #000; line-height: 4rem;
    box-sizing: border-box; margin-top: 20px;
    border-radius: 20px; border: none;
    color: #fff; font-weight: 700;
    font-size: 1.2rem; letter-spacing: -1px;
  }

  #special>.inner>.sp-bg-img {
    display: none;
  }
}

/* #special-pop */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup-content {
  position: relative;
  width: 664px;
  height: 190px;
  padding: 76px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}

.popup-content>span:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  background: #eee;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.popup-content>span:after {
  content: "\f00d";
  display: inline-block;
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.popup-content>span {
  position: absolute;
  right: 36px;
  top: 36px;
  font-size: 24px;
}

.popup-content>span:hover {
  cursor: pointer;
}

.popup-content h2 {
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 700;
}

.popup-content p {
  margin-top: 14px;
  font-size: 1rem;
  line-height: 1.5;
}

.popup-content a {
  margin-top: 14px;
  display: inline-block;
  color: var(--accent-color);
}

.popup-content a:hover {
  text-decoration: underline;
}

.popup-content a span {
  line-height: 1.5;
}

.popup-content a span:after {
  content: "\f054";
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-size: 0.7rem;
}

@media (min-width: 600px) and (max-width: 1299px) {
  .popup-content {
    width: 90%;
    height: auto;
    box-sizing: border-box;
  }
}

@media (max-width: 599px) {
  .popup-content {
    width: 90%;
    height: auto;
    padding: 66px;
    box-sizing: border-box;
  }
}
